<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Lorem, ipsum.</h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempore est ea fuga, minima a dolorum similique sint quibusdam quos quia ipsum eius, totam esse possimus maxime reprehenderit enim eligendi qui, non molestias. Veniam adipisci nam deserunt id! Assumenda, ipsam repellat.</p>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero omnis temporibus totam ducimus, consectetur ullam voluptatum quis, eos voluptates ea impedit fugit fuga minima corporis, iusto nam doloremque non nostrum expedita. Dolore omnis, architecto dolorum ullam eius odio? Consequatur, eum!</p>

    <ul>
        <li>A</li>
        <li>B</li>
        <li>C</li>
    </ul>
</body>
</html>